* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(img/background0.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  border-radius: 10px;
  position: absolute;
  top: 1em;
  color: white;
  font-size: 100px;
}

form {
  text-align: center;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.3));
  height: 30vh;
  width: 30vw;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

input {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

.button {
  background: linear-gradient(rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0));
  color: white;
  padding: 1em;
  margin: auto;
}

.button:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.185));
  color: turquoise;
  box-shadow: inset 0px 0px 20px 0px white;
}

a {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  text-shadow: 0px 0px 5px white;
}

a:hover {
  color: turquoise;
}

.lulo {
  width: 20%;
  bottom: 1em;
  position: absolute;
}