

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #333333;
    margin: 0;
}

nav{
    background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2vh;
}

nav ul li a{
    text-decoration: none;
    color:white;
    opacity: 1;
    font-size: 1.1em;
}

/*CONTENT*/

header{
    width: 100%;
    height: 100vh;
}

.bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), 
                url(HTML_O_img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 90%;
    height: 65%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom{
    margin: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
}

.kolom:hover{
    width: 10;
}

.kolom .atas{
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom .atas img{
    width: 50%;
    border-radius: 100px;
}

.kolom .tengah{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom .bawah{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom .bawah p{
    width: 80%;
    height: auto;
    text-align: center;
}



/*FOOTER*/

footer{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), 
                url(HTML_O_img/foot.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}/*min 28:20*/