table {
    border-collapse: collapse;
    border: 1.5px solid black;
    width: 50%;
}

tbody {
    border-collapse: collapse;
    border: 1.5px solid #c5c5c5;
    text-align: center;
}

td {
    outline: 0.5px solid #c5c5c5;
}

td, th {
    padding: 5px;
}

tbody > tr > td:first-of-type {
    width: 2%;
}

tbody > tr > td:nth-child(2) {
    width: 10%;
}

tbody > tr > td:nth-child(3), tbody > tr > td:nth-child(5) {
    width: 8%;
}

tbody > tr > td:nth-child(4), tbody > tr > td:nth-child(6), tbody > tr > td:nth-child(7) {
    width: 5%;
}

tbody > tr > td:nth-child(8) {
    width: 10%;
}

.line:hover {
    background-color: #ABD6F9;
}

.white {
    background-color: #fff;
}

.gray {
    background-color: #EEEEEE;
}

td > button {
    border-color: white;
    border-radius: 5px;
    display: inline-block;
}

button > img {
    height: 2.25ch;
    width: 2.5ch;
}