body {
    background-color: #34495e;
    color: #ecf0f1;
}

header {
    position: sticky;
    top: 0;
    background-color: #34495e;
}

h1 {
    display: inline-block;
}

.usuarios {
    float: right;
    display: inline-block;
    margin: 20px 20px;
    font-size: 20px;
}

.menu {
    display: none;
}

.usuarios:hover > .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #c0392b;
}

.usuario {/*#3498db*/
    background-color: #2980b9;
    text-align: center;
}

td {
    background-color: #3498db;
    text-align: left;
}