*{
    margin: 0;
}

.topbot {
    height: 50vh;
    width: 100vw;
}

.cuadro {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.cuadro:hover {
    background-color: purple;
}

.tizq {
    background-color: tomato;
    border-color: 10px solid black;
}

.tdech {
    background-color: lightblue;
}

.bizq {
    background-color: lightgreen;
}

.bdech {
    background-color: gray;
}

