* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root {
    --main-color: #000000;
    --secondary-color: #4b4b53;
    --text-color: #ffffff;
    --text-emphasis: #22a6b3;
    --text-bold: #f9ca24;
}

body {
    background-color: var(--secondary-color);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--main-color);
}

header > h1{
    background-color: var(--main-color);
    color: var(--text-emphasis);
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    font-size: 3rem;
}

nav {
    background-color: var(--main-color);
}

nav > ul {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    list-style: none;
}

.menu {
    display: inline-block;
    margin-left: 15%;
}

a {
    text-decoration: none;
    color: var(--text-emphasis);
}

a:hover {
    color: white;
    border-bottom: 0.1px solid white;
}

.submenu {
    display: none;
}

nav li:hover>ul {
    display: block;
    position: absolute;
    text-align: center;
    background-color: var(--main-color);
}

.submenu > li {
    text-decoration: none;
    margin: 5px 10px;
}

main {
    padding: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}

span:hover {
    color: var(--text-bold);
}