*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 336px;
    background-color: rgb(172, 172, 172);
}

:root {
    --text-color: #4E7072;
}

h1 {
    background-color: black;
    color: var(--text-color);
    text-align: center;
    font-size: 35px;
}

main {
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.texto-resaltado {
    display: inline;
    position: relative;
}

li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
} 

.emoji {
    width: 50px;
    float: left;
    margin-right: 1rem;
}

/* nav a ?????????? {
    position: ;
} */

.texto-resaltado:hover > .tooltip {
    opacity: 0.95;
    display: block;
}

.tooltip {
    position: absolute;
    transition: opacity 0,5s;
    display: none;
    opacity: 0;
    padding: 5rem;
    width: 15rem;
    background: black;
    color: var(--text-color);
    border-radius: 10px;
    left: 0.5rem;
    top: 1.5rem;
}

.tooltip::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: black;
    position: absolute;
    top: -6px;
    left: 3.5rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background-color: #0000;
    position: sticky;
    top: 0;
}

.submenu {
    position: absolute;
    top: 100%;
    flex-direction: column;
    margin-top: -15rem;
    transition: margin-top 0.5s ease;
    display: none;
    z-index: 0;
    background-color: black;
}

.menu > .menu-item:hover > .submenu {
    margin-top: 0;
    display: flex;
    white-space: nowrap;
}

.menu a {
    padding: 0.25rem 1rem;
    display: inline-block;
    width: 100%;
}

.submenu > .menu-item {
    width: 100%;
}

.menu-item:hover > a{
    background-color: rgb(71, 71, 71);
    color: var(--text-color);
}