body {
    margin: 0;
}

/*.cajal .caja {
    border-color: black;
}*/
h1 {
    margin-left: 40%;
    /*margin-right: 40%;  ¿Es necesario?*/
}

.cajal {
    display: inline-block;
    background-color: #19B5FE;
    height: 20px;
    width: 33.33%;
    margin: 0;
}

.caja {
    display: inline-block;
    background-color: #ecf0f1;
    height: 20px;
    width: 33.33%;/* los porcentajes funcionan respecto a sus padres */
}