* {
    margin:0 auto; /* así se centra de todos los lados*/
    }
    body {
      background:url(screen-6.jpg);
      font-family: 'Ubuntu', sans-serif;
      background-repeat: none;
      background-size: cover;
    }
    
    h3 {
      text-align:left;
      margin-left:40px;
      color:#fff;
    }
     
    .login {
      /* Correspone el rectangulo que contiene usuario y contraseña */
      max-width:475px;
    }
    
    .nombre-juego {
      /* corresponde al nombre del juego*/
      color: blanchedalmond;
      font-size:275%;
    }
    
    .login-header {
      /* corresponde a la cabecera principal login*/
      color:#fff;
      text-align:center;
      font-size:150%;
    }
     
    .login-form {
      border:.5px solid #fff;
      background: url(img/background01.png);
      background-size: 92%; 
    }
    
    .login-form {
      padding-top:15px;
      padding-bottom:10%;
      margin:5% auto;
      text-align:center;
    }
    .login input[type="text"],
    .login input[type="password"] {
      max-width:400px;
      width: 70%; /* el ancho de los formularios*/
      line-height:3em;/* el alto de los formularios*/
      font-family: 'Ubuntu', sans-serif;
      margin:1em 2em;
    }
    
    .login-form input[type="button"] {
      background:white;
      color:purple;
      cursor:pointer;
    }
    
    .sign-up {
      color:white;
      margin-left:-70%;
      cursor:pointer;
    }
    
    .no-access {
      color:red;
      cursor:pointer;
    }
    
    .try-again {
      color:white;
      cursor:pointer;
    }